// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$enable-ltr: true;
$enable-rtl: true;

$sidebar-bg: #f8fafc;
$sidebar-brand-bg: #f8fafc;
$sidebar-color: #484848;
$sidebar-nav-link-color: #484848;
$sidebar-nav-link-active-color: #003761;
$sidebar-nav-link-active-bg: #E2F3FF;
$sidebar-nav-title-padding-y: 2rem;
$sidebar-brand-height: 6rem;
$sidebar-nav-link-hover-color: #003761;
$sidebar-nav-link-hover-bg: #E2F3FF;

$theme:       #454cad;
$dark-text:   #5f6982;
